.calendar {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.calendar-header {
  background-color: transparent;
  color: #333;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  margin-bottom: 10px;
}

.calendar-title {
  font-size: 18px;
  font-weight: bold;
}

.prev-month-button,
.next-month-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  padding: 0;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: transparent;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.day-of-week {
  color: #333;
}

.calendar-day {
  background-color: #fff;
  padding: 5px;
  text-align: right;
  padding-right: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  min-height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.calendar-day:hover {
  background-color: #f2f2f2;
}

.empty-day {
  background-color: #fff;
  border: none;
}

.current-day {
  background-color: transparent;
  color: #333;
  font-weight: bold;
}

.pay-period-day {
  background-color: transparent;
  color: #333;
  font-weight: bold;
}

.week-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
