.calendar {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.calendar-header {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 0;
  text-align: center;
  display: block; /* Change from flex to block for centering the title */
  border-bottom: 1px solid #ccc; /* Restored border */
  margin-bottom: 5px;
}

.calendar-title {
  font-size: 24px; /* Made it larger for the header */
  font-weight: bold;
  text-transform: uppercase; /* Optional: Style preference */
}

.prev-month-button,
.next-month-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px; /* Smaller gap for a tighter grid look */
}

.days-of-week {
  background-color: #e0e0e0; /* Different background for day headers */
  color: #333;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
}

.day-of-week {
  color: #333;
}

.calendar-day {
  background-color: #fff;
  text-align: center; /* Center the numbers */
  padding: 20px 0; /* More padding for a larger box */
  border: 1px solid #ccc; /* Solid border for each day */
  font-size: 14px;
  color: #333;
  min-height: 30px; /* Ensure there's enough space for the numbers */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.calendar-day:hover {
  background-color: #f2f2f2;
}

.empty-day {
  background-color: #fff;
  border: none;
}

.current-day {
  background-color: transparent;
  color: #333;
  font-weight: bold;
}

.pay-period-day {
  background-color: transparent;
  color: #333;
  font-weight: bold;
}

.week-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
